/*//////////////////////////////////////////////////////////////////
[ Header ]*/

.heading-space {
    width: 100%;
    top: 0px;
    position: relative;
    display: block;
    line-height: 1.15;
}

.heading {
    padding: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    background-color: white;
}

.options {
    margin-right: 24px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
}

.headerOptions1, .headerOptions2, .headerOptions3, .headerOptions4 {
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color : white;
    margin-right: 25px;
    margin-left : 25px;
}

.headerOptions1 {
    background-color: #003b46;
}

.headerOptions2 {
    background-color: #07575b;
}

.headerOptions3 {
    background-color: #66a5ad;
}

.headerOptions4 {
    background-color: #c4dfe6;
    color: #6c7871;
}


.headerWrapper {
    width: 100%;
    top: 0px;
    position: sticky;
    display: block;
    line-height: 1.15;
}

.optionSet {
    padding: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    background-color: white;
}


/*//////////////////////////////////////////////////////////////////
[ Footer ]*/
.apply-btn {
    background-color: white;
    color: rgb(47, 147, 255);
    border: solid rgb(47, 147, 255);
    width: 100%;
    padding: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-transform: uppercase;
    overflow: visible;
}

.apply-btn:hover {
    background-color: rgb(47, 147, 255);
    color: white;
}
