/*//////////////////////////////////////////////////////////////////
[ Heading ]*/

.heading-space {
    width: 100%;
    top: 0px;
    z-index: 101;
    position: relative;
    display: block;
    line-height: 1.15;
}

.heading {
    padding: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    background-color: white;
}

.options {
    margin-right: 24px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
}

.headerOptions {
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: #6985b1;
    color : white;
    margin-right: 25px;
    margin-left : 25px;
}
