.fileSubmitWrapper {
    margin-top: 20px;
}

.applyMessage {
    padding-bottom: 50px;
    margin: 30px 0 30px 0;
}

.clubApplyTitle {
    font-size: 50px;
}

.submit-file {
    position: relative;
    z-index: 1;
    margin: 30px 0 30px 0;
}

.file {
    display: inline-block;
}

.focus-file {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
}

.symbol-file {
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.container-apply {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg, #c0dcf3, white);
    text-align: center;
}

.wrap-apply {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 50px 150px;
}

.upload {

}
