.change-lvl-button {
    display: inline-block;
    border-radius: 10px;
}

.boardWrapper {
    width : 500px;
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}

.feed {
    height: 100%;
}

.categorySelect {
    height : 52px;
    background-color: #6bb8d0;
    color : white;
    margin-right: 10px;
    boxShadow: 3px 3px 3px 3px gray;
    margin: 10px;
}

.postButton {
    boxShadow: 3px 3px 3px 3px gray;
}

.docListWrapper {
    box-shadow : 3px 3px 3px 3px gray;
    z-index : 2;
}

.memListWrapper {
    box-shadow : 3px 3px 3px 3px;
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    background-color: white;
    display: inline-block;
}

.labelWrapper {
    margin : 20px;
}

.memListLabel {
    display : inline-block;
    width : 250px;
    /*text-align: center;*/
    font-size : 25px;
}

.adminOptionWrapper {
    margin: 20px 0 20px 0;
    border-top: 3px solid #bfbfbf;
    height: 100vh;
    position: relative;
    background: linear-gradient(-135deg, #c0dcf3, white);
}

.adminOptionSet {
    width: fit-content;
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
}


/*//////////////////////////////////////////////////////////////////
[ Service Buttons ]*/
.adminOption1, .adminOption2, .adminOption3, .adminOption4 {
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 320.64px;
    height: 60px;
}

.adminOption1 {
    background: #688b8a;
}

.adminOption1:hover{
    background:#fff;
    color:#688b8a;
}

.adminOption2 {
    background: #a0b084;
}

.adminOption2:hover{
    background:#fff;
    color:#a0b084;
}

.adminOption3 {
    background: #faefd4;
    color: #6c7871;
}

.adminOption3:hover{
    background:#6c7871;
    color:#faefd4;
}

.adminOption4 {
    background: #a57c65;
}
.adminOption4:hover{
    background:#fff;
    color:#a57c65;
}


.adminOption1:before,.adminOption1:after, .adminOption2:before,.adminOption2:after, .adminOption3:before,.adminOption3:after, .adminOption4:before,.adminOption4:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
}

.adminOption1:before,.adminOption1:after {
    background: #688b8a;
}

.adminOption2:before,.adminOption2:after {
    background: #a0b084;
}

.adminOption3:before,.adminOption3:after {
    background: #faefd4;
}

.adminOption4:before,.adminOption4:after {
    background: #a57c65;
}

.adminOption1:after, .adminOption2:after, .adminOption3:after, .adminOption4:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.adminOption1:hover:before,.adminOption1:hover:after, .adminOption2:hover:before,.adminOption2:hover:after, .adminOption3:hover:before,.adminOption3:hover:after, .adminOption4:hover:before,.adminOption4:hover:after{
    width:100%;
    transition:800ms ease all;
}

/*//////////////////////////////////////////////////////////////////*/


.adminMessage {
    position : absolute;
    top : 20%;
    text-align: center;
    width : 100%;
    font-size: 30px;
}

.container-notice {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(-135deg, #c0dcf3, white);
}

.wrap-notice {
    align-self: start;
    margin: 10px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.notice {
    boxShadow : '3px 3px 3px 3px gray';
    margin : 20px;
    border: black;
}

.wrap-write {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 33px 100px;
}

.post {
    border : 1px solid grey;
    width : 100%;
    boxShadow : 3px 3px 3px 3px gray;
}
